.doctor-more-info-container {
    padding-left: 15px;

    .content-up {
        margin-bottom: 10px;

        .title-address {
            text-transform: uppercase;
            color: #333;
        }

        .name-clinic {
            padding: 5px 0;
            font-weight: 600;
            color: #333;
        }
        .address-clinic {
            color: #333;
            font-weight: 600;
        }
    }

    .content-down {
        .title-price {
            text-transform: uppercase;
        }

        .detail-info {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;

            .price {
                padding-bottom: 5px;
                .left {
                }
                .right {
                    float: right;
                }
            }
            .note {
            }
        }
        .payment {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #eee;
        }

        .hide-price {
            margin-top: 10px;
            span {
                cursor: pointer;
                color: #5fb8e0;
            }
        }

        .show-price {
            margin-top: 10px;
            .price-title {
                text-transform: uppercase;
            }
            .currency {
                margin: 0 5px;
            }
            .detail {
                cursor: pointer;
                color: #5fb8e0;
            }
        }
    }
}
