@import './../../styles/variables';

.verify-email-container {
    height: 100vh;
    .status-booking {
        font-size: 17px;
        font-weight: 600;
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #f15b5a;
    }
    .booking-more-info {
        text-align: center;
        margin-top: 20px;
    }
}
